@font-face {
    font-family: talldark;
    src: url(../fonts/tall_dark_and_hands/talldark.ttf);
}

body{
    background-color: #2F3440;
    color: #2F3440;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
}
/****** Headings *******/

h1{
    font-family: 'talldark', sans-serif;
    font-size: 3.143em;
    color: #FFFEF5;
    font-weight: normal;
}

h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.725em;
    font-weight: 700;
    color: #3EE3A6;
    text-transform: uppercase;
}

h3{
    font-family: 'source sans pro', sans-serif;
    font-size: 1.225em;
    font-weight: 300;
    color: #FFFEF5;
}

/********** Nav Bar **********/

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-image: none;
    background-color: #303030;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.navbar .nav>li>a, .caption-custom h3{
    padding: 10px 15px 10px;
    color: #F03E4F;
    text-decoration: none;
    text-shadow: none;
    margin-top: 10px;
}

.caption-custom h3:hover {
    color: #FFFEF5;
}


.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus, .navbar .nav>li>a:hover{
    color: #FFFEF5;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;

}

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
    font-weight: 300;
}



/******** Home Page ***********/

#home #search{
    width: 15%;
}

#home #search-input{
    width: 68%;
}

.carousel-caption h3{
    color: #F03E4F;

}

.carousel-caption h3:hover{
    color: #FFFEF5;

}

/******** Modal Window ***********/

.modal-container{
    float: left;
}

#sign-up, #sign-in{
    width: 100%;
    height: 40px;
}

#myModal input{
    width: 96%;
}

#myModal{
    position: absolute;
}

/********** Search Results *************/
#search-results-page p{
    padding: 5px;
}

#search-results-page #search-input{
    width: 73.5%;
}

#search-results-page #search{
    width: 20%;
}

#search-results-page article .span6, #search-results-page article .span3{
    background-color: #FFFEF5;
}

#search-results-page article ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

#search-results-page article ul li{
    border: 1px solid;
    margin-bottom: 10px;
    position: relative;
    height: 80px;
}

#search-results-page article ul li:hover{
    cursor: pointer;
}

#search-results-page article ul li div{
    float: left;
    width: 80px;
    height: 60px;
    padding-top: 20px;
    background: #303030;
    text-align: center;
    color: #FFFEF5;
    margin-right: 10px;
}

#search-results-page article ul li div.even{
    background: #3f5666;
}



article ul li div .month{
    border-bottom: 1px solid #fff;
    width: 50px;
}

#dropdown-menu{
    width: 100px;
    margin-top: 10px;
}

.arrow{
    position: absolute;
    top: 33px;
    right: 15px;
}

.location{
    font-size: 16px;
    margin-bottom: 0;
}

.available{
    color: #3EE3A6;
}

#search-results-page h1{
    font-family: 'talldark', sans-serif;
    font-size: 3.143em;
    color: #2F3440;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 10px;
}

#search-results-page h3{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.725em;
    font-weight: 700;
    color: #3EE3A6;
    text-transform: uppercase;
}


/******** Detail Page ********/

#detail-page #my-calendar-desktop i{
    float: left;
}

#detail-page #my-calendar-desktop span{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

button .social i{
    float: left;
}

button .social span{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#detail-page article .row-fluid{
    margin-bottom: 20px;
}

#detail-page article .span6{
    background-color: #FFFEF5;
    padding: 10px;
}

.group{
    background-color: #FFFEF5;

}

.carousel-control{
    top:50%;
}

#my-calendar, #buy-tickets, #maps{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.social{
    width: 100%;
    margin-bottom: 5px;
}

#advance{
    font-size: 12px;
    padding: 4px;
}

ul.thumbnails li:nth-child(3n+1){
    margin-left: 0;
}

.thumbnails li{
    margin-bottom: 8px;
}

#frame-map-desktop{
    width: 100%;
    height: 360px;
}

#buy-tickets, #maps{
    background-color: #2F3440;
    background-image: none;
    color: #ffffff;
    position: relative;
}

#buy-tickets i, #maps i{
    position: absolute;
    right: 15px;
}

#detail-page #search-input{
    width: 70%;
}

#detail-page #search{
    width: 20%;
}

#detail-page h1 {
    font-family: 'talldark', sans-serif;
    font-size: 5.143em;
    color: #FFFEF5;
    font-weight: normal;
}

/********** Footer **********/

footer{
    background-color: #303030;
    height: 100px;
    margin-top: 50px;
    font-size: 0.900em;

}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 325px;
    margin-top: 40px;
}

footer li{
    float: left;
    margin: 0 10px;
}

footer li a{
    color: #F03E4F;
}

footer li a:hover{
    text-decoration: none;
    color: #FFFEF5;
}

/********* Buttons **********/
.btn-custom{
    background-color: #3EE3A6;
    border: none;
    height: 35px;
}

.navbar .btn-navbar{
    border: none;
    background-color: #303030;
    background-image: none;
    box-shadow: none;
    margin-top: 25px;
}

.navbar .btn-navbar:hover{
    border: none;
    background-color: #303030;
    background-image: none;
    box-shadow: none;
    margin-top: 25px;
}


/********* Input Fields ********/
.container-fluid input {
    border-radius: 0;
    height: 25px;
}

/******** Sprite **********/
[class^="sprite-"], [class*=" sprite-"] {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 30px;
    background-image: url("../img/icons-sprite-01.png");
    background-repeat: no-repeat;
}
.sprite-search {
    background-position: -3px -3px;
    width: 30px;
    height: 29px;
}

.sprite-location {
    background-position: -38px -3px;
    width: 21px;
    height: 30px;
}

.sprite-plus {
    background-position: -67px -4px;
    width: 29px;
    height: 29px;
}

.sprite-fb {
    background-position: -101px -4px;
    width: 29px;
    height: 29px;
}

.sprite-calendar {
    background-position: -4px -37px;
    width: 30px;
    height: 30px;
}

.sprite-follow {
    background-position: -39px -41px;
    width: 30px;
    height: 26px;
}

.sprite-tweet {
    background-position: -71px -38px;
    width: 29px;
    height: 29px;
}

.sprite-mail {
    background-position: -105px -42px;
    width: 28px;
    height: 22px;
}

.sprite-menu {
    background-position: -137px -4px;
    width: 29px;
    height: 29px;
}

/* Desktop Media Queries */
@media (min-width: 768px) {

    /******** Home Page ***********/

    #sign-up, #sign-in{
        width: 102.6%;
    }

    #home #search{
        width: 5%;
    }

    #home #search-input{
        width: 20%;
    }


    #home-search{
        background: #101010 url("../images/home-page.jpg") no-repeat 50% 10%;
        height: 700px;
    }

    #home-search h1{
        margin-top: 150px;
    }

    #home-search h3{
        margin-bottom: 150px;

    }

    .head-cta{
        margin-left: 3%;
    }

    #cta{
        margin-top: 50px;
        background-color: #FFFEF5;
        color: #2F3440;
    }

    #cta .span5{
    }

    #cta h3{
        color: #2F3440;
        font-weight: 700;
    }


    #cta-form{
        margin-top: 10px;
    }

    #cta-form input{
        width: 80%;
        height: 30px;
    }

    #cta-form button{
        width: 83%;
    }

    .feature{
        position: relative;
    }

    .caption-custom{
        background: rgba(47,52,63,0.8);
        position: absolute;
        width: 100%;
        bottom: 0;
        color: #fff;
        padding-bottom: 10px;
    }

    .caption-custom h3{
        margin-top: 5px;
        line-height: 15px;
    }

    .caption-custom .venue{
        margin-left: 15px;
    }

    .navbar .nav>li>a{
        margin-top: 50px;
    }

    /********** Search Results *************/
    #search-results-page #search-input{
        width: 34.5%;
    }

    #search-results-page #search{
        width: 10%;
    }

    #search-results-page #location-refine{
        width: 90%;
    }

    #search-results-page #venue-refine{
        width: 95%;
    }

    #search-results-page #date-refine{
        width: 91%;
    }

    #search-results-page #search-refine{
        width: 95%;
        margin-top: 20px;
    }

    #search-results-page .row-fluid .span6 p{
        margin-left: 13px;
    }

    /*footer{*/
        /*font-size: 1.125em;*/
    /*}*/

    footer ul{
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        width: 355px;
        margin-top: 40px;
    }

    /****** Headings *******/

    h1{
        font-family: 'talldark', sans-serif;
        font-size: 7.143em;
        color: #FFFEF5;
        font-weight: normal;
    }

    h2{
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 2.143em;
        font-weight: 700;
        color: #3EE3A6;
        text-transform: uppercase;
    }

    h3{
        font-family: 'source sans pro', sans-serif;
        font-size: 1.429em;
        font-weight: 300;
        color: #FFFEF5;
    }

    #detail-page #search-input{
        width: 35%;
    }

    #detail-page #search{
        width: 10%;
    }

    .tickets{
        width: 100%;
    }

    #detail-page h1{
        font-family: 'talldark', sans-serif;
        font-size: 5.143em;
        color: #FFFEF5;
        font-weight: normal;
        width: 250px;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {


}


@media screen and (min-width: 769px) and (max-width: 810px){
    #home h1{
        font-size: 115px;
    }


}