article ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

article ul li{
    border: 1px solid;
    margin-bottom: 2px;
    position: relative;
}

article ul li div{
    float: left;
    width: 50px;
    background: #808080;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}

article ul li div.even{
    background: #000;
}

article ul li div .month{
    border-bottom: 1px solid #fff;
    width: 50px;
}

#dropdown-menu{
    width: 100px;
    margin-top: 10px;
}

#search-input{
    width: 190px;
}

.arrow{
    position: absolute;
    top: 12px;
    right: 10px;
}

.location{
    font-size: 12px;
    margin-bottom: 0;
}

.carousel-control{
    top:50%;
}

#change-location, #date-picker{
    /*margin-left: 10px;*/
}

#my-calendar, #buy-tickets, #maps{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.social{
    width: 100%;
    margin-bottom: 5px;
}

#advance{
    font-size: 12px;
    padding: 4px;
}

ul.thumbnails li:nth-child(3n+1){
    margin-left: 0;
}

.thumbnails li{
    margin-bottom: 8px;
}

/* Desktop */
@media (min-width: 768px) {
    #home-search{
        background: #101010 url("../images/img-frame") no-repeat center center;
        height: 600px;
    }

    #home-search h2{
        margin-top: 200px;
    }

    #home-search h2, #home-search h4, #home-search form{
        color: #fff;
    }

    #cta{
        margin-top: 50px;
        background: #101010;
        color: #404040;
    }

    #cta-form{
        margin-top: 30px;
    }

    #cta-form input{
        width: 80%;
        height: 30px;
    }

    #cta-form button{
        width: 83%;
    }

    .feature{
        position: relative;
    }

    .caption-custom{
        background: #404040;
        position: absolute;
        width: 100%;
        bottom: 0;
        color: #fff;
    }

    #my-calendar-desktop{
        width: 15%;
        margin-bottom: 20px;
    }

}